[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chan099
[access "refs/for/refs/*"]
	read = group user/chan099
	push = group user/chan099
	label-Code-Review = -2..+2 group user/chan099
	label-Verified = -1..+1 group user/chan099
	rebase = group user/chan099
	removeReviewer = group user/chan099
	submit = group user/chan099
[access "refs/heads/*"]
	read = group user/chan099
	create = group user/chan099
	push = +force group user/chan099
	pushMerge = group user/chan099
[access "refs/tags/*"]
	push = group user/chan099
	push = +force group user/chan099
